{{ define "main" }}

<main class="w-full h-full bg-white border-4 border-purple-400 border-4 p-4">
  <section>
    <!-- <div class="right margin">
      meow  
    </div> -->
    <h1 class="text-xl font-bold">Welcome to Coop's Corner!</h1>
    <p class="my-4">
      I am Coop, a very tired trans man currently living in the midwest United States. I'd love to someday move somewhere bigger and a little kinder in the future. My interests include video games, TTRPGs, plant germination & care, piercings, tattoos, biking, and snowboarding. I love cyberpunk, biopunk, and meatpunk; sci-fi and horror are my general go-to genres for most things.
    </p>
    <p class="my-4">
      This site will mostly be a collection of whatever interests me, and will likely grow over time. :>
    </p>
    <p class="my-4">
      I'm sure that I'll build out a page for languages eventually, but I'm currently trying to learn...<br />
      Fluent: EN-US<br />
      Learning: DE, ES-MX<br />
      Interested: PL, RU
    </p>
    <p class="my-4">
      Contact information can be found in the top buttons of the navigation pane. For instant messangers (Discord, Matrix) please contact me through another form and we can discuss. I deny add requests from unknown users due to spam and hacking concerns.
    </p>
  </section>
</main>

{{ end }}
